.container-fixed {
  margin: 0 auto;
  max-width: 960px;
}
#header img {
  padding:50px 0 75px 0;
}
#images {
  text-align:center;
}
#gallery > div > div {
}

#gallery img {
  width:100%;
}

#footer {
  padding:40px 0 20px 0;
}

a {
  color:#f00;
}
